body{
  width: 100%;
  height: 100vh;
  background: #264f24;
  margin-left: none;
  color: #a8d180;
}

.set_score{
  border: 2px solid #192e47;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: transparent;
}

.live_sore{
  border: 2px solid #192e47;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: transparent;
}

#inputBox1{
  width: 100px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: #f5a83d;
}

#inputBox2{
  width: 100px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: #f5a83d;
}

.buttons{
  width: 400px;
  height: 100px;
  border: none;
  background: #192e47;
  outline: none;
  border-radius: 6px;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}

