body{
  width: 100%;
  height: 100vh;
  background: #264f24;
  margin-left: none;
  color: #a8d180;
}

.set_score{
  border: 2px solid #192e47;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: transparent;
}

.live_sore{
  border: 2px solid #192e47;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: transparent;
}

.buttons{
  
}

