body{
  width: 100%;
  height: 100vh;
  background: #264f24;
  margin-left: none;
  color: #a8d180;
  align-items: center;
}

.set_score{
  border: 2px solid #192e47;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: transparent;
}

#set_score1, #set_score2{
  width: 400px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: #a8d180;
}

.live_sore{
  border: 2px solid #192e47;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  display: flex;
}

#scoreA, #scoreB{
  width: 100px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: #f5a83d;
}

p{
  font-size: 40px;
  color: #f5a83d;
}

.buttons{
  display: inline-flex;
  justify-content: center;
}

.buttons{
  width: 400px;
  height: 100px;
  border: none;
  background: #192e47;
  outline: none;
  border-radius: 6px;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}

.reset{
  display: flex;
  justify-content: center;
}

#next_set{
  width: 300px;
  height: 80px;
  background: #a8d180;
  color: #192e47;
}

button.active {
  background-color: #222;
  color: white;
}

